*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 100% ;
    --cor-border-geral:black ;
    --cor-padrão-fonte: rgb(33, 33, 33);
    --font-padrao:'Bungee Spice', cursive, Verdana;
    --font-cor-titulo: rgb(183, 28, 28)  ;

}

body{
    background-color: rgb(255, 243, 224);
}


a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--font-padrao) ;
    color:var(--cor-padrão-fonte);
    /* background-color: brown; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

header, main, footer {
    width: 80%;
    margin: auto;
}

header#top-header{
    border-bottom: 2px solid var(--cor-border-geral);
    height: 60px;
}

a.go:hover{
    background-color: var(--font-cor-titulo) ;
    color: aliceblue;
    transition: 1s;   /*permitir tempo para o over */
}

.icons {
    margin-right: 3px;
    font-size: 1.5rem;
}

.flex{
    display: flex;
}

.aling-center-xy{
    align-items: center;
    justify-content: center;
 
}

header#top-header h1, header#top-header nav{
    width:50% ;

}

/* header#top-header nav{
    background-color: aquamarine;
} */

header#top-header h1{
    color: var(--font-cor-titulo);
    font-family: var(--font-padrao);
    font-size: 2rem;
    align-items: center;
}

header#top-header nav#menu ul#list-menu{
    width: 100%;
    justify-content: flex-end;
    /* background-color: blueviolet; */
} 

/* ul{
    justify-content: flex-end; /*faz ir para baixo e ladinho 
} */

nav#menu ul#list-menu li.item {
    /* background-color:brown ; */
    width: 130px;
    justify-content: center; /*  centralizar  */
    align-items: center;
}

section#section-cards{
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

section#section-cards > div.card {
    width: 320px;
    height: 400px;
    flex-grow: 1;
    border: 1px solid var(--cor-border-geral);
}

section#section-cards > div.card > figure.card-img-pizza{
    width: 100%;
    padding: 2px;

}

section#section-cards > div.card > figure.card-img-pizza > .imagemPizza{
    width: 100%;
    height: auto;
}  /*diminuindo tamanho da imagem*/

section div form.formTamanhoPizza{
    align-items: center;
    justify-content: center;
}

#section-cards .card .card-img-pizza .imagemPizza {
    width: 100%;
}

.formTamanhoPizza label{
    width: 30px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid green; */
    flex-direction: column;
    align-items: center;
    padding: 2px;
    cursor: pointer;

}

h2.sub-titulo-pizza{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px 0 10px 0;

}

/* form.formTamanhoPizza div.content-controles,form.formTamanhoPizza div.controle-form-btn{
    width: 100%;
}

div.controle-form-btn {
    padding: 10px;
    display: flex;
    justify-content:end;

} */

div.controle-form-btn .btn {
    padding: 10px;
    width: 150px;
    margin-top: 5px;
    border: none;
    background-color: rgb(27, 94, 32);
    color: #fff;
    cursor: pointer;
    
    
    
}

.aling-center-xy{
    justify-content: center;
    align-items: center;
    
}

footer {
    height: 60px;
    border-top: var(--cor-border-geral);
    margin-top: 10px;
    background-color:rgb(255, 179, 0) ;
}

form#centralizar{
    justify-content: center;
    padding: 80px;
    border: 2px;
    background-color: aqua;
}

.rodape {
    margin: 0 auto;
    width: 50%;
    padding: 17px;
    ;
    align-items: center;
}

footer.rodape-nome{
    margin: 20px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

@media screen and (max-width:700px) {
  header#top-header{
    height: 200px;
  }

}
    
